<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AVLTree.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>ArrayList.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>B+Tree.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>B-Tree.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Backtrace.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>BinarySearchTree.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>BloomFilter.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>DP.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>DisjointSet.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>DivConq.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>Graph.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>Greed.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>Heap.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Huffman.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Huffman2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>Huffman3.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>Huffman4.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>Leetcode.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LinkList.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Map.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>PriorityQueue.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Queue.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>RBTree.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Recursion.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>Set.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>SkipList.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>Sort.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Stack.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>String.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>Trie.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>ds.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0B05E1F228061031000E949F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B05E20628065361000E949F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B05E22028066BEA000E949F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B05E23A280B0FCB000E949F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B142192282E4A9900EEDEC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B34544A283BC38F00B701B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B345458283BCF0A00B701B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B345574287EF97C00B701B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B34558528871C9B00B701B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B3455962887280B00B701B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B3455A12887283800B701B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B72BD72280BB4A300A0CD3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B72BD89280E087400A0CD3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B72BDB62818D32C00A0CD3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B72BDC12818D39500A0CD3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B72BE0428238DBC00A0CD3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B72BE1D28238E5000A0CD3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B9AB59B288AF13500901576</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B9AB5B5288D37AE00901576</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BB322C128FB0AAB00DC18C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BB322FC28FB0C8800DC18C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BB3237028FB0F2C00DC18C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BB3238628FB0FE300DC18C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
